@font-face {
    font-family: "Poppins black";
    src: url(../../FONTS/poppins-black-webfont.woff2) format("woff2"),
    url(../../FONTS/poppins-black-webfont.woff), format("woff");
    font-weight: 900;
}

@font-face {
    font-family: "Poppins extra bold";
    src: url(../../FONTS/poppins-extrabold-webfont.woff2) format("woff2"),
    url(../../FONTS/poppins-extrabold-webfont.woff) format("woff");
    font-weight: 800; 
}

@font-face {
    font-family: "Poppins bold";
    src: url(../../FONTS/poppins-bold-webfont.woff2) format("woff2"),
    url(../../FONTS/poppins-bold-webfont.woff) format("woff"); 
    font-weight: 700;
}

@font-face {
    font-family: "Poppins medium";
    src: url(../../FONTS/poppins-medium-webfont.woff2) format("woff2"),
    url(../../FONTS/poppins-medium-webfont.woff) format("woff");
    font-weight: 500; 
}

@font-face {
    font-family: "Poppins light";
    src: url(../../FONTS/poppins-light-webfont.woff2) format("woff2"),
    url(../../FONTS/poppins-light-webfont.woff) format("woff"); 
    font-weight: 300;
}